/*fuentes*/

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway2.woff2");
}

@font-face {
    font-family: "ReenieBeanie";
    src: url("../fonts/ReenieBeanie.woff2");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    font-size: 14px;
    color: #454545;
}

/*contenido*/

#titulo {
    height: 60px;
    letter-spacing: 20px;
    margin: 35px;
    height: 100px;
    padding-top: 30px;
    font-size: 2.3em;
    font-weight: bolder;
    background-image: url(../imagenes/quienessomosrosa.jpg)
}
#contenido{
    margin: 20px;
}
#contenido h3{
    font-family: "ReenieBeanie";
}
.video{
    margin-left: 80px;
}

.video-centro img{
    margin-top: 50px;
    position: relative;
    z-index: -1;
    
}
.video-centro:hover {
    background: url(../imagenes/play%20alternativo.png) no-repeat;
    background-size: 30%;
    background-position: center;
    z-index: 2;
}
.next{
    padding-top: 95px;
}

.titulo{
    padding-top: 20px;
}


/*formato general del footer*/

footer {
    font-size: 14px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    height: 90px;
}

footer li {
    list-style-type: none;
}

footer a {
    color: #1F5941;
    text-decoration: none;
    padding: 0 auto;
}

footer a:hover {
    color: #3EAC7E;
}



/*Media query*/
@media screen and (max-width:1200px){
    .next{
    padding-top: 70px;
    }
}
@media screen and (max-width:970px){
    .next{
    padding-top: 60px;
    }
}
@media screen and (max-width:767px){
    .video{
    margin-left: 65px;
    }
    .next{
    padding-top: 55px;
    }
}
@media screen and (max-width:576px){
    .video{
        margin-left: 40px;
        }
    .next{
        padding-top: 80px;
        }
    #titulo {
        letter-spacing: 15px;
        margin: 25px;
        height: 100px;
        padding-top: 35px;
        font-size: 1.7em;
        font-weight: bolder;
    }
}
@media screen and (max-width:430px){
    .video{
    margin-left: 0px;
    }
    .next{
    padding-top: 80px;
    }
    #titulo {
        letter-spacing: 10px;
        margin: 25px;
        height: 100px;
        padding-top: 30px;
        font-size: 1.8em;
        font-weight: bolder;
    }
}
@media screen and (max-width:350px){

    .next{
    padding-top: 50px;
    }
    #titulo {
        letter-spacing: 10px;
        margin: 15px;
        height: 100px;
        padding-top: 40px;
        font-size: 1.3em;
        font-weight: bolder;
    }
}




