/*fuentes*/

@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway2.woff2");
}

@font-face {
    font-family: "ReenieBeanie";
    src: url("../fonts/ReenieBeanie.woff2");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    font-size: 14px;
    color: #454545;
}

/*contenido*/

#titulo {
    height: 60px;
    letter-spacing: 20px;
    margin: 35px;
    height: 100px;
    padding-top: 30px;
    font-size: 2.3em;
    font-weight: bolder;
    background-image: url(../imagenes/quienessomosrosa.jpg)
}
#contenido{
    margin: 20px;
}
#contenido h3{
        font-family: "ReenieBeanie";
}
.video{
    margin-left: 80px;
}

.next{
    margin-top: 50px;
}
.next img{
    vertical-align: middle;
}





/*formato general del footer*/

footer {
    font-size: 14px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    height: 90px;
}

footer li {
    list-style-type: none;
}

footer a {
    color: #1F5941;
    text-decoration: none;
    padding: 0 auto;
}

footer a:hover {
    color: #3EAC7E;
}


/*Media query*/
@media (max-width:1300px){
    .next img {
        height: 100%
    }
}
 
@media  (max-width:900px)
    @media   (max-width:700px){
#contenido        
}

@media   (max-width:576px)
@media   (max-width:778px)
@media   (max-width:640px){
    .next img {
        height: 40%
    }
}




