/*fuentes*/
@font-face{
    font-family:"Raleway";
    src: url("../fonts/raleway2.woff2");
}

@font-face{
    font-family:"ReenieBeanie";
    src: url("../fonts/ReenieBeanie.woff2");
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/contacto.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: "Raleway";
    color: #454545;
}


/*contenido*/
#titulo{
    height: 60px;
    letter-spacing: 20px;
    margin: 35px;
    padding-top: 10px;
    font-size: 2.3em;
    font-weight:bolder;
}

.margin{
    padding-left: 0px;
    padding-right: 0px;
}
#contenido{
    background-color: rgba(255,255,255,0.7);
    padding-bottom: 15px;
    margin-bottom: 100px;
    font-size: 12px;
    line-height: 1px;
}

#formcontacto{
    margin-top: 30px;
    font-size: 12px;
    line-height: 20px;
}
.btn{
    margin-top: 20px;
}
label{
    padding-top: 20px;
}


#derecha{
    margin-top: 60px;
    margin-bottom: 60px;
}

/*formato general del footer*/

footer{
    font-size: 14px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    height: 90px;
}

footer li{
    list-style-type:none;
}

footer a{
    color: #1F5941;
    text-decoration: none;
    padding: 0 auto;
}
footer a:hover{
    color:#3EAC7E;
}


@media (max-width:800px){
    #derecha{
      line-height:20px;
    }
    
@media screen and (max-width:380px){
    #derecha{
      line-height:20px;
    }
    #titulo {
        letter-spacing: 8px;
}