/*fuentes*/
@font-face{
    font-family:"Raleway";
    src: url("../fonts/raleway2.woff2");
}

@font-face{
    font-family:"ReenieBeanie";
    src: url("../fonts/ReenieBeanie.woff2");
}
/*formato general del footer*/
body{
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/contacto.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: "Raleway";
    color: #454545;
}

header{
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    background-color: #F2F2F2;
    font-family: Raleway,arial,sans-serif;
    font-size: 14px;
    color: #454545; 
}
#login{
    margin-top: 25px;
}
#login a{
    color:#1f5941;
    padding-right: 5px;
    border-right: 1px solid #1f5941;
    text-decoration: none; 
}
#logincab a:hover{
    color: #3EAC7E;
}

/*contenido*/
#titulo{
    height: 60px;
    letter-spacing: 20px;
    margin: 35px;
    padding-top: 10px;
    font-size: 2.3em;
    font-weight:bolder;
}

.margin{
    padding-left: 0px;
    padding-right: 0px;
}
#contenido{
    background-color: rgba(255,255,255,0.7);
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1px;
}

#formcontacto{
    margin-top: 30px;
    font-size: 12px;
}
.btn{
    margin-top: 20px;
}
label{
    padding-top: 20px;
}


#derecha{
    margin-top: 60px;
    margin-bottom: 60px;
}










