@font-face {
    font-family: Raleway;
    src: url(raleway2.woff2);
}

body{
    margin: 0;
    padding: 0;
    font-family: Raleway,arial,sans-serif;
    font-size: 14px;
}
/*header*/
header, footer {
    background-color: #F2F2F2;
    color: #454545;
    overflow: hidden;
}

#eslogan {
    margin: 0px;
}

#bananalogo{
    margin-right: 65px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#login p{
    padding-top: 20px;
    padding-right: 50px;
    
    
}
#login a{
    color:#1f5941;
    padding-right: 5px;
    border-right: 1px solid #1f5941;
    text-decoration: none; 
}
h4{
    margin:0;
    padding-bottom: 10px;
}
.setenta{
    width: 70%;
}
.treinta{
    width: 30%;
}
.treinta p{
    margin-left: 20px;
}
.centrado{
    text-align: center;
}
.over{
    overflow: hidden;
    height: 49px;
}
.floatizq {
    float: left;
}
.floatder {
    float: right;
}
#login a:hover{
    color: #3EAC7E;
}
/* footer*/
footer{
    width: 100%;
    position: absolute;
}
footer li{
    list-style-type:none;
}

footer a{
    color: #1F5941;
    text-decoration: none;
}
footer a:hover{
    color:#3EAC7E;
}
footer figcaption{
    color:#1F5941;
    text-align: center;
}
/*insection2*/


#izquierdo {
    width: 28%;
    padding-left: 30px;
    padding-top: 30px;
}
#mapa {
    width: 35%;
    padding-top: 30px;
}
#derecho {
    width: 30%;
    text-align: center;
    margin-top: 380px;
}
#fondo {
    height: 400px;
    overflow: hidden;
    color: #454545;
    font-weight: bold;
    position:relative;
    padding-bottom: 30px;
    text-transform: uppercase;
    
}