@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway2.woff2) format("woff2"),
         url(../fonts/raleway2.ttf) format("truetype");
}
@font-face{
    font-family: "ReenieBeanie";
        src: url(../fonts/ReenieBeanie.woff2) format("woff2"),
             url(../fonts/ReenieBeanie.ttf) format("truetype");
}

body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.container{

    margin-right: 0px;
    
}
/*header*/

#cabecera{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #F2F2F2;
    font-family: Raleway,arial,sans-serif;
    font-size: 14px;
    color: #454545; 
}


#login{
    margin-top: 25px;
}
#login a{
    color:#1f5941;
    padding-right: 5px;
    border-right: 1px solid #1f5941;
    text-decoration: none; 
}
#logincab a:hover{
    color: #3EAC7E;
}

/*insection1*/

#imgbgsection1{
    background-image: url(../imagenes/fondo.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 0px;
    /*position:absolute;
    overflow: hidden;*/
}

#formindex{
    padding: 100px;
}

#buscador::placeholder{
    font-size: 0.8em;
}
.btn-dark{
    height: 40px;
    font-size: 12px;
}

#insectiona{
        background-color: rgba(153, 153, 153,0.8);
        margin-bottom: 100px;
        /*width: 100%;*/
        height: 300px;
}
#insectiona h3{
    color: #1F5941;
    font-family: "ReenieBeanie", cursive;
    font-size: 2.7em;
    margin-left:20%;
    padding: 27px;



    
}

#bloquesin h4{
    color:#454545;
    text-align: center;
    padding: 18px;
    margin-left: 0px;
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 2px;
    }
#bloquesin p{
    color:#454545;
    text-align: center;
    line-height: 20px;
}



/*insection2*/


#izquierdo {
    width: 28%;
    padding-left: 30px;
    padding-top: 30px;
}
#mapa {
    width: 35%;
    padding-top: 30px;
}
#derecho {
    width: 30%;
    text-align: center;
    margin-top: 350px;
}
#fondo {
    background-image: url(../imagenes/backsec2.png);
    background-repeat: no-repeat;
    height: 400px;
    overflow: hidden;
    color: #454545;
    font-weight: bold;
    position:relative;
    padding-bottom: 30px;
    text-transform: uppercase;
    background-color: white;
    margin-top: 755px;
    
}
/* footer*/
footer{
    width: 100%;
    position: absolute;
}
footer li{
    list-style-type:none;
}

footer a{
    color: #1F5941;
    text-decoration: none;
}
footer a:hover{
    color:#3EAC7E;
}
footer figcaption{
    color:#1F5941;
    text-align: center;
}