#header{
    background-color: #F2F2F2;
}
/*.container-fluid {
    padding: 0px;
}*/

#login
{
    margin-top: 5px;
}
#login a {
    color: #1f5941;
    text-decoration: none;
}

#login a:hover {
    color: #3EAC7E;
}

#logo {
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 50px;
       margin-bottom: 15px;
}

@media screen and (min-width:577px) {
    #formhead input {
        font-size: 10px;
        margin-top: 20px;
    }
    #formhead button {
        font-size: 10px;
        margin-top: 20px;
    }

}

@media screen and  (max-width: 576px) {
    #formhead input{
        font-size: 10px;
        margin-left: 80px;
        margin-top: 20px;
    }
    #formhead button{
        font-size: 10px;
        margin-top: 20px;
    }
}