@font-face {
    font-family: Raleway;
    src: url(raleway2.woff2);
}
#formhead{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #F2F2F2;
    font-family: Raleway,arial,sans-serif;
    font-size: 12px;
    color: #454545; 
}
#formhead input{
    font-size: 10px;
    height: 30px;
    margin-top: 20px;
}
#formhead button{
    font-size: 10px;
    height: 30px;
}
#logincab{
    margin-top: 5px;
}
#logincab a{
    color:#1f5941;
    padding-right: 5px;
    border-right: 1px solid #1f5941;
    text-decoration: none; 
}
#logincab a:hover{
    color: #3EAC7E;
}

#boton{
    margin-top: 15px;
    border: none;
}
#burger li a{
    color:#1f5941;
    text-decoration: none;  
}
#burger li{
    list-style:none;
}
#burger ul{
    padding: 0px;
    padding-top: 15px;
}
#burger a:hover{
    color: #3EAC7E;
}



