@font-face {
    font-family: Raleway;
    src: url(raleway2.woff2);
}
@font-face{
    font-family: ReenieBeanie;
        src: url(../fonts/ReenieBeanie.woff2);
}

body{
    margin: 0;
    padding: 0;
    font-family: Raleway,arial,sans-serif;
    font-size: 14px;
}
header, footer {
    background-color: #F2F2F2;
    color: #454545;
    overflow: hidden;
    width: 100%;
}

/*header*/
#eslogan {
    margin-bottom: 10px;
    margin-top: 0px;
}

#bananalogo{
    margin-right: 65px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#login p{
    padding-top: 20px;
    padding-right: 50px;
    font-family: Raleway;
    
    
}
#login a{
    color:#1f5941;
    padding-right: 5px;
    border-right: 1px solid #1f5941;
    text-decoration: none; 
}

.setenta{
    width: 70%;
}
.treinta{
    width: 30%;
}
.treinta p{
    margin-left: 20px;
}
.centrado{
    text-align: center;
}
.over{
    overflow: hidden;
    height: 49px;
}
.floatizq {
    float: left;
}
.floatder {
    float: right;
}
#login a:hover{
    color: #3EAC7E;
}

/*desarrollo*/
#volver{
    margin-top: 20px;
    margin-right: 30px;
}

.contenido{
    width: 70%;
    margin-left: 14%;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    background-color: #F2F2F2;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    overflow: hidden;
}

.contenido p{
    text-indent: 10px;
    font-family: monospace;
}
a {
    color: #1F5941;
}
#cajas{
    overflow: hidden;
    padding-left: 50px;
}
.norma{
    width:40%;
    padding-right: 50px;
    padding-left: 30px;
}
.norma h4{
    text-align: center;
    color:#1f5941;
    font-family: monospace;
}
.marginbot{
    margin-bottom: 50px;
}
#caja1{
    overflow: hidden;
    clear: both;

}
/*formato general del footer*/


footer li{
    list-style-type:none;
}
footer a{
    color: #1F5941;
    text-decoration: none;
}
a:hover{
    color:#3EAC7E;
}
figcaption{
    color:#1F5941;
    text-align: center;
}