
@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway2.woff2);
}
@font-face{
    font-family: ReenieBeanie;
        src: url(../fonts/ReenieBeanie.woff2);
}
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", arial, sans-serif;
    font-size: 14px;
    color:#454545;
    overflow: hidden;
}
#izquierda{
    width:50%;
    height: 100%;
    text-align: center;
    background-image: url(../imagenes/registro.png);
    background-repeat: no-repeat;
    overflow: hidden;
}
.floatizq{
    float: left;
}

#izquierda h1{
    margin-left: -30px;
    margin-top: 60px;
    font-size: 2em;
}
h1 img{
    width: 220px;
    margin-bottom:-23px;
}
#izquierda h4{
    margin-bottom: 5px;
    margin-top: 30px;
    margin-left: -50px;
    font-variant: small-caps;
    font-weight: 80%;
    letter-spacing: 3px;
    line-height: 20px;
}
#derecha{
    width: 50%;
    text-align: center;
}
#derecha h2{
    margin-left: 0px;
    margin-top: 100px;
    font-size: 2em;
}

.formulario{
    margin-left: 130px;
    text-align: left;
}
.campos{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 300px;
}
#formregistro{
    margin-top: 30px;
    margin-left: 100px;
}
#check{
    font-size: 10px;
    margin-bottom: 30px;    
}
#check a{
    color:#454545;
}
#check a:hover{
    color:#1F5941;
}




.abajo{
    margin-top: 30px;
}
.centrado{
    text-align: center;
    margin-right: 100px;
}
.centrado a{
    text-decoration: none;
    color: #454545; 
}
.centrado a:hover{
    color: #1f5941;
    font-weight: 600;
}
.centrado input:hover{
    color:#1f5941;
}

#volver{
    text-align: right;
    margin-right: 150px;
    margin-top: 80px;
}
#volver a{
         color:#454545;
}
#volver a:hover{
    color: #1f5941;
    font-weight: 600;
}
