/* Fuentes */
@font-face{
    font-family:"Raleway";
    src: url("../fonts/raleway2.woff2") format("woff"),
         url("../fonts/raleway2.ttf") format("truetype");
}
@font-face{
    font-family:"Reenie Beanie";
    src: url("../fonts/ReenieBeanie.woff2") format("woff"),
         url("../fonts/ReenieBeanie.ttf") format("truetype");
}
/*Fin fuentes*/

body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

/*cuerpo*/
#video-wrapper{
    margin-left: 100px;
    width:100%;
}


#infovideo, #hashtag, #comentarios, #infodestino, #datosint #vidrel{
    overflow:hidden;
    width:100%;
}

#texto-video header, #texto-video p, #repro-video{
    font-family:"Raleway", sans-serif;
}
#texto-video header, #repro-video{
    font-size: 17pt;
}

#repro-video{
 color:#1F5941;   
}

#contenido .floatizq strong{
    font-family:"Reenie Beanie", cursive;
    font-size: 16pt;
}

#sharebut, #megustabut{
    color:#1F5941;
}

#sharebut:hover{
    color:#3EAC7E;
}

#megustabut:hover{
    color:#3EAC7E;
}

#repro-compartir{
    overflow:hidden;
}

#hashtag a{
    font-family:"Raleway", sans-serif;
    color: #1F5941;
    text-decoration-line: none;
    text-transform:uppercase;
}
#hashtag a:hover{
    color:#3EAC7E;
    text-decoration-line:none;
}
#comentarios header, #infodestino header, #vidrel div header{
    font-family:"Reenie Beanie", cursive;
    font-size:20pt;
    color:#1F5941;
}

#infodestino, #vidrel{
    background-color:#F2F2F2;
}
/*Botones*/
a {
    text-decoration:none;
}

#submit-buscador{
	font-family: "Raleway";
	font-size: 13px;
    width: 40%;
    height: 40px;
	color: #050505;
    font-weight: 550;
	padding: 6px 10px;
	background: -moz-linear-gradient(
		top,
		#3eac7e 0%,
		#3eac7e);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#3eac7e),
		to(#3eac7e));
}
#submit-buscador:hover{
    color:#F2F2F2;
}
.redondito{
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #949494;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}
/*Fin botones*/
}


/*responsive*/
@media screen and (max-width:778px){
    footer{
        font-size: 12px;
    }
    
}
@media screen and (max-width:640px){
    footer{
        font-size: 10px;
        height: 100px;
    }
}
/*Fin footer*/