
@font-face {
    font-family: Raleway;
    src: url(../fonts/raleway2.woff2);
}
@font-face{
    font-family: ReenieBeanie;
        src: url(../fonts/ReenieBeanie.woff2);
}
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", arial, sans-serif;
    font-size: 14px;
    color:#454545;
    overflow: hidden;
}
#izquierda{
    width:56%;
    height: 100%;
    text-align: center;
    background-image: url(../imagenes/inicarsesion.png);
    background-repeat: no-repeat;
    overflow: hidden;
}
#derecha{
    width: 44%;
}
.floatder{
    float: right;
}
.floatizq{
    float: left;
}
#izquierda h1{
    font-family: "ReenieBeanie";
    font-size: 4em;
    margin-bottom: 15px;
    margin-left: -110px;
}
#izquierda h2{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: -110px;
    font-variant: small-caps;
    font-weight: 80%;
    letter-spacing: 4px;
}
#derecha h3{
    margin-left: 110px;
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 2em;
}
#derecha h4{
    width: 425px;
    margin-left:80px;
    text-align: justify;
}

#volver{
    text-align: right;
    margin-right: 150px;
    margin-top: 100px;
}
#volver a{
         color:#454545;
}
#volver a:hover{
    color: #1f5941;
    font-weight: 600;
}
