@font-face {
    font-family: "Raleway";
    src: url(../fonts/raleway2.woff2) format("woff2"),
         url(../fonts/raleway2.ttf) format("truetype");
}
@font-face{
    font-family: "ReenieBeanie";
        src: url(../fonts/ReenieBeanie.woff2) format("woff2"),
             url(../fonts/ReenieBeanie.ttf) format("truetype");
}
/*Header*/
header{
    background-color: #F2F2F2;
}

/* Contenido */
body{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

/* Contenido */
body{
    font-family:"Raleway";
}
#contenedor{
    background-image: url(../imagenes/fondosubirvideo.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

#titular{
    margin-top: 30px;


/* footer*/


/*responsive*/
@media screen and (max-width:778px){
    footer{
        font-size: 12px;
    }
    
}
@media screen and (max-width:640px){
    footer{
        font-size: 10px;
        height: 100px;
    }
}