/*fuentes*/
@font-face{
    font-family:"Raleway";
    src: url("../fonts/raleway2.woff2");
}

/*formato general del footer*/

footer{
    background-color:#F2F2F2;
    overflow:hidden;
    font-family: "Raleway", arial, sans-serif;
}

.float-izda{
    float:left;
}

.float-dcha{
    float:right;
}

li{
    list-style-type:none;
}

a{
    color: #1F5941;
    text-decoration: none;
}

a:hover{
    color:#3EAC7E;
}

figcaption{
    color:#1F5941;
    text-align: center;
}